// BASIC COLORS
$white: #ffffff;
$black: #000000;
$error: #a30303;
$warning: #c3c600;

$light-gray: #f1f1f1;
$gray-bg: #f6f6f6;
$gray-border: #d7d7d7;
$gray-txt: #696969;
$gray-filter: #cdcdcd;
$gray-credit: #868080;

//BAND COLORS
$Black: #333333;
$MainDark: #040444;
$MainLight: #24749c;
$White: #f5f7f9;
$Cta: #5495b2;

// SOCIAL COLORS
$facebook: #3460a1;
$twitter: #28aae1;
$linkedin: #136d9d;
$pinterest: #a7282e;
$youtube: #cd201f;
$instagram: #3f729b;

// BREAKPOINTS
// Match Bootstaps breakpoints
$xsmall-screen: 640px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
