//Single Post
.single-post {
    text-transform: none;
    margin: auto;

    .col-md-6 {
        align-self: center;
    }

    .single-post-content {
        max-width: 940px;
        margin: auto;
    }
    .hero {

        @include small-screen {
            align-self: center;
        }
        
    }

    h2 {
        font-size: 40px;
    }
    @include large-screen {
        // padding: 0 150px 2rem 0px;
    }
    .hero {
        padding: 0;
        background-size: cover !important;
        background-blend-mode: saturation;
        background-attachment: fixed;
        min-height: 275px;

        @include small-screen {
            height: 300px;
        }

        p {
            color: #fff;
        }
    
        h1 {
            font-size: 56px;
            color: #fff;
    
            @include small-screen {
                font-size: 64px;
            }
        }
    }
}