// COLORS
$white:         #ffffff;
$black:         #333333;

$gray-hdr:      #f1f1f1;
$gray-bkgd:     #f6f6f6;
$gray-rule:     #d7d7d7;
$gray-txt:      #696969;
$gray-filter:   #cdcdcd;
$gray-credit:   #868080;

$red:           #ee3324;
$red-bt:        #ef4136;
$blue:          #0b69a4;
$blue-lt:       #98cbd0;
$blue-dk:       #72989b;
$blue-bkgd:     #eaf5f6;

$image-caption: #5e5e5e;
$quote-txt:     #7f1b13;

// SOCIAL COLORS
$facebook:      #3460a1;
$twitter:       #28aae1;
$linkedin:      #136d9d;
$pinterest:     #a7282e;
$youtube:       #cd201f;
$instagram:     #3f729b;


// BREAKPOINTS
// Match Bootstaps breakpoints
$xsmall-screen: 640px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;